#calculator{
    
    border: 1px solid grey;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    


}
#display{
    margin: 10px 10px 10px 30px ;
    width: 80%;
    height: 90px;
    font-size: 50px;
    
    
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.button{
    margin: 4px;
    height: 50px;
    width: 100px;
    


}

